{% extends 'base.html' %}
{% block content %}
<div class="container text-center main">
  <div class="row">
    <div class="col-sm-8">
    	<div class="form-group">
    		<textarea class="form-control" rows="10" cols="5"></textarea>
    	</div>
    </div>
    <div class="col-sm-4">
        <select class="form-select select" aria-label="Default select example">
          <option selected>Languages</option>
          <option value="1">English</option>
        </select>
        <p>To</p>
        <select class="form-select select" aria-label="Default select example">
          <option selected>Languages</option>
          <option value="1">English</option>
        </select>
    </div>
  </div>
</div>

<div class="container text-center under">
  <div class="row">
    <div class="col-sm-8">
    	<div class="form-group">
    		<textarea class="form-control" rows="10" cols="5"></textarea>
    	</div>
    </div>
  </div>
</div>
{% endblock content %}

